:root {
  --editor-background: #090f13;
  --topbar-background: #09191f;
  --left-panel-background: #153b47;
  --button-background: #0e639c;
  --button-background-danger: #b14b34;
  --border-color: #30535f;
}
