@import url("./colors.css");

/* Tabby */

[role="tablist"] {
  border: none;
  font-size: 14px;
  margin-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

[role="tab"] {
  border: none;
  font-size: 14px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--topbar-background);
}

[role="tab"]:hover:not([aria-selected="true"]) {
  border: none;
  border-bottom: 2px solid var(--topbar-background);
  background-color: var(--left-panel-background);
}

[role="tab"][aria-selected="true"] {
  border: none;
  border-bottom: 2px solid var(--button-background);
  background-color: var(--left-panel-background);
}

@media only screen and (max-width: 768px) {
  [role="tablist"] {
    margin-left: 10px;
  }
}

/* MarkedJS */

.md_list {
  margin-left: 15px;
}

.md_blockquote {
  display: block;
  padding: 5px 5px 5px 15px;
  border-left: 3px solid var(--button-background);
}

/* TTable */

.ttable {
  width: 100%;
  font-size: 14px;
  /* border-collapse: collapse; */
  border: 1px solid var(--left-panel-background);
  text-align: center;
}

.ttable td,
.ttable th {
  padding: 10px;
  border: none;
}

.ttable tr {
  border: none;
}

.ttable tr:nth-child(odd) {
  background-color: var(--left-panel-background);
}

.ttable tr:nth-child(even) {
  background-color: var(--topbar-background);
}

@media only screen and (max-width: 768px) {
  .ttable td,
  .ttable th {
    padding: 5px;
    border: none;
  }

  .katex {
    font-size: 1.1em;
  }
}


/* Pushbar 
html.pushbar_locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
    filter: blur(15px);
}

.pushbar_overlay {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
    opacity: 0;
    background: #3c3442;
}

html.pushbar_locked .pushbar_overlay {
    opacity: 0.8;
    z-index: 2;
}

[data-pushbar-id] {
    z-index: 3;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform 0.5s ease;
    background: #fff;
}

[data-pushbar-direction="left"][data-pushbar-id], [data-pushbar-direction="right"][data-pushbar-id] {
    top: 0;
    width: 256px;
    max-width: 100%;
    height: 100%;
}

[data-pushbar-direction="top"][data-pushbar-id], [data-pushbar-direction="bottom"][data-pushbar-id] {
    left: 0;
    width: 100%;
    min-height: 150px;
}

[data-pushbar-direction="left"][data-pushbar-id] {
    left: 0;
    transform: translateZ(0) translateX(-100%);
}

[data-pushbar-direction="right"][data-pushbar-id] {
    right: 0;
    transform: translateZ(0) translateX(100%);
}

[data-pushbar-direction="top"][data-pushbar-id] {
    top: 0;
    transform: translateZ(0) translateY(-100%);
}

[data-pushbar-direction="bottom"][data-pushbar-id] {
    bottom: 0;
    transform: translateZ(0) translateY(100%);
}

[data-pushbar-id].opened {
    display: block;
    transform: translateX(0px) translateY(0px);
}
*/