* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.editor, .content {
  border: 1px solid red;
  padding: 10px;
}

.actions {
  display: flex;
}

.add {
  width: 100%;
  padding: 10px;
  background: red;
}

.render {
  width: 100%;
  padding: 10px;
  background: red;
}

textarea {
  width: 100%;
  margin: 10px 0;
  white-space: pre-wrap;
}